:host {
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #f8f9fa;

    // align-items: center;
    // justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .content {
    margin-top: 60px;
    // padding: 20px;
  }
}
