@use './fonts/fonts.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}
